.git
.github
.env
.env.*
.venv
__pypackages__
.pdm-python
.python-version
var
__pycache__
.pytest_cache
.ruff_cache
.pyright
.coverage
coverage.xml
htmlcov
tests
docs
dist
build
*.egg-info
*.pyc
*.db
